.containerAdmin{
    width:90vw;
    min-height: 80vh;
    background-color:#222;
    flex-wrap: wrap;
    position: absolute;
    top:100px;
    left:50%;
    transform: translateX(-50%);
    box-shadow:  -2px -2px 8px 4px white, 2px 2px 8px 4px #222;
    display: flex;
    justify-content: center;
}
.mainAdminChild{
    width:100px;
    height: 100px;
    background-color: #222;
    box-shadow:  -2px -2px 8px 4px white, 2px 2px 8px 4px #222;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    line-height: 20px;
    text-transform: lowercase;
    border-radius: 10px;
    transition: 0.5s;
    margin: 20px;
    transition: 0.5s;
}
.mainAdminChild a{
    color:white;
    transition: 0.5s;
    text-decoration: none;
    line-height: 20px;
    width:100%;
    height: 100%;
    display: inline-block;
    transform: translateY(20px);
}
.mainAdminChild:hover{
    background-color: white;
    color:black;
}
.mainAdminChild a:hover{
    color:black;
    font-weight: bolder;
}